# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Streamlit secrets & local config
.streamlit/secrets.toml

# IDE & OS files
.DS_Store
.vscode/
.idea/
*.swp
